:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #eee;

  --main-color: #002D72;
  --secondary-color: #68ACE5;
  --tertiary-color: #F1C400;

  --text-color: #000000;
  --background-color: #ffffff;

  --transition-timing: 750ms;

  --padding: auto;
  --container-padding: auto;
  /* Set using "Chunkiness" */
  --color-padding: auto;

  --border-radius: auto;
  --container-border-radius: auto;

  interpolate-size: allow-keywords;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 320px;
  height: 100dvh;
}

#root {
  display: flex;

  #control-panel {
    flex: 1 1 25rem;
    max-width: 35rem;
    min-width: 25rem;
  }

  #interface {
    flex: 1 1 50rem;
    position: relative;
  }

  height: 100%;
}

.color-input {
  .rgb-slider-label {
    font-size: 1.125rem;
    margin-block: 0rem;
  }

  .input-holder {
    display: flex;
  }

  input[type="range"] {
    appearance: none;
    appearance: none;
    cursor: pointer;

    width: 8rem;
  }
}

#control-panel {
  background-color: #aaa;
  padding: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-end: 0.3em;
  }
}

#control-panel,
#interface {
  max-height: 100vb;
  overflow: scroll auto;
}

.switch-holder {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.color-picker,
.radio-picker {
  &:not(:last-child) {
    border-block-end: 1px solid black;
    padding-block-end: .5rem;
    margin-block-end: .5rem;
  }

  &[open] summary::after {
    transform: rotate(180deg) translateY(50%);
  }

  summary {
    list-style: none;
    cursor: pointer;
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
    user-select: none;

    &::after {
      --size: 2rem;
      position: absolute;
      right: 1rem;
      top: 50%;
      width: var(--size);
      height: var(--size);
      transform: translateY(-50%);
      content: '▾';
      color: #000;
      font-family: Arial, Helvetica, sans-serif;
      line-height: var(--size);
      text-align: center;
    }
  }
}

.color-picker {
  .selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-block: 0.5em;
  }

  .hex-code {
    min-width: max-content;
    height: 1.25rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;

    input {
      border: none;
      padding: 2px;
      width: 100px;
      border-radius: 2px;
    }
  }

  .color-swatch {
    --swatch-color: var(--main-color);
    height: 1.25rem;
    width: min(300px, 100%);
    background-color: var(--swatch-color);

    &.secondary {
      --swatch-color: var(--secondary-color);
    }

    &.tertiary {
      --swatch-color: var(--tertiary-color);
    }
  }
}

.radio-picker {
  .radio-buttons {
    display: flex;
    align-items: center;
  }
}

#interface {
  background-color: var(--background-color);
  color: var(--text-color);

  main {
    max-width: min(1200px, calc(100% - 1rem));
    margin-inline: auto;

    >* {
      margin-block: 10px;
    }
  }

  p,
  ol,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color);
  }

  a {
    color: var(--main-color)
  }

  a.call-out {
    --call-out-border-radius: var(--border-radius);

    text-decoration: none;
    font-size: 1.25rem;
    margin-inline: auto;
    display: block;
    text-align: center;

    background-color: var(--call-out-background-color);
    color: contrast-color(var(--call-out-background-color));
    border-radius: var(--call-out-border-radius);

    padding: var(--padding);

    &.primary {
      --call-out-background-color: var(--main-color);
    }

    &.secondary {
      --call-out-background-color: var(--secondary-color);
    }

    &.small {
      max-width: max-content;
    }
  }

  .accordion {
    border-top: 2px solid var(--main-color);

    details {
      overflow: hidden;
      border-bottom: 1px solid var(--text-color);
    }

    details[open] summary::after {
      transform: rotate(180deg) translateY(50%);
    }

    details::details-content {
      background-color: oklch(from var(--background-color) calc(abs(calc(l - 0.175)) + 0.075) c h) !important;
      block-size: 0;

      /* progressive enhancement */
      @supports (interpolate-size: allow-keywords) {
        transition: block-size var(--transition-timing) ease allow-discrete,
          content-visibility var(--transition-timing) ease allow-discrete;
      }
    }

    details[open]::details-content {
      block-size: auto;
    }

    details>:not(summary) {
      padding-inline: .75rem;
      margin-inline: auto;

      & {
        margin-block: 1em 0;

        &:nth-child(2) {
          margin-block-start: 0;
          padding-block-start: 1em;
        }

        &:last-child {
          margin-block-end: 0;
          padding-block-end: 1em;
        }
      }
    }

    summary {
      list-style: none;
      padding: .75rem 1rem;
      cursor: pointer;
      position: relative;
      font-size: 1.5em;
      color: var(--main-color);
      user-select: none;

      &::after {
        --size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        width: var(--size);
        height: var(--size);
        transform: translateY(-50%);
        content: '▾';
        border-radius: 50%;
        background: var(--main-color);
        color: var(--background-color);
        font-family: Arial, Helvetica, sans-serif;
        font-size: calc(var(--size) * .67);
        line-height: var(--size);
        text-align: center;
      }
    }

    summary::-webkit-details-marker {
      display: none;
    }
  }

  .people-card-holder {
    container-type: inline-size;
  }

  .people-card {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5rem;

    padding: var(--container-padding);
    border-radius: var(--container-border-radius);

    border: 1px solid gray;
    margin-block: 0.5rem;

    @container (max-width: 500px) {
      grid-template-columns: 1fr;

      img {
        margin-inline: auto;
      }

      h3 {
        text-align: center;
      }
    }

    img {
      max-width: 150px;
      height: auto;
      align-self: center;
    }

    .copy>* {
      margin-block-start: 0.125rem;
    }

    .copy>:last-child {
      margin-block-end: 0.125rem;
    }
  }

  nav.menu {
    padding-inline-start: 5px;

    user-select: none;

    a {
      text-decoration: none;
      color: var(--text-color);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      &.main-menu {
        display: flex;
        flex-direction: row;
        align-items: center;

        color: var(--text-color);
      }
    }

    &.slim {
      height: 40px;

      .search-icon {
        display: inline-block;
        width: 1.75rem;
        height: 1.75rem;
        margin-inline: 5px;

        background-color: var(--text-color);
        mask: url('/Search_Icon.svg') center / contain no-repeat;
      }

      ul.main-menu {
        flex-grow: 1;
        justify-content: end;
        align-items: stretch;

        max-height: 100%;

        a.home-logo {
          display: flex;
          align-items: center;
          gap: 5px;

          color: var(--text-color);

          margin-inline-end: auto;

          text-decoration: none;
          font-size: 28px;
          font-family: 'Times New Roman', Times, serif;
        }

        span.menu-arrow {
          display: inline-block;
          width: 1em;
          height: 0.5625em;
          margin-inline: 5px;

          background-color: var(--text-color);
          mask: url('/menu-arrow.png') center / contain no-repeat;
        }

        >li {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;

          padding-inline: .5em;

          &:hover {
            ul.sub-main-menu {
              display: inline-block;
              opacity: 1;
              transition: opacity var(--transition-timing) ease,
                display var(--transition-timing) ease allow-discrete;
            }

            @starting-style {
              ul.sub-main-menu {
                opacity: 0;
              }
            }
          }

          /* &:not(:hover) {
            ul.sub-main-menu {
              opacity: 0;
            }
          } */
        }
      }

      ul.sub-main-menu {
        position: absolute;
        display: none;
        opacity: 0;
        top: 100%;
        right: 0;

        transition: opacity var(--transition-timing) ease,
          display var(--transition-timing) ease allow-discrete;

        text-align: end;

        width: fit-content;
        min-width: max-content;
        background-color: var(--background-color);

        li {
          display: flex;
          align-items: stretch;
          justify-content: stretch;
        }

        a {
          padding: .5rem;
          width: 100%;
        }
      }
    }

    &.layered {
      ul.main-menu {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-inline: auto;
        max-width: max-content;

        >li {
          padding: .5em 1em;
          anchor-scope: all;
          anchor-name: --toggle-button;

          button {
            all: unset;
          }

          ul.sub-main-menu {
            position: absolute;
            position-anchor: --toggle-button;
            top: anchor(bottom);
            left: anchor(left);
            position-try-fallbacks: --below-right, --below-left;

            border: none;

            &::backdrop {
              display: none;
            }

            width: fit-content;
            min-width: max-content;
            background-color: var(--background-color);

            li {
              display: flex;
              align-items: stretch;
              justify-content: stretch;
            }

            a {
              padding: .5rem;
              width: 100%;
            }
          }
        }
      }

      span.menu-arrow {
        display: inline-block;
        width: 1em;
        height: 0.5625em;
        margin-inline: 5px;

        background-color: var(--text-color);
        mask: url('/menu-arrow.png') center / contain no-repeat;
      }

      .headWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }

      button.search {
        --image-width: 40px;

        margin-inline: 0;
        appearance: none;
        border: none;
        width: calc(var(--image-width) * sqrt(2));
        height: calc(var(--image-width) * sqrt(2));

        position: relative;
        border-radius: 10em;
        background: transparent;
        cursor: pointer;
      }

      button.search::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        transition: box-shadow 300ms;
      }

      button.search:hover::before {
        box-shadow: 0 0 5px oklch(from var(--main-color) l c h / 0.7);
      }

      button.search::after {
        content: "";
        position: absolute;
        inset: 3px;
        background-color: var(--text-color);

        mask: url('/search-icon.png') center / calc(var(--image-width) - 5px) calc(var(--image-width) - 5px) no-repeat;
      }

      .search-form {
        border: none;
        background-color: transparent;
        padding: 0;

        transition: opacity 300ms ease-in allow-diiscrete;

        width: min(calc(100% - 2rem), 400px);

        form {
          width: 100%;

          display: flex;
          flex-direction: column;
          gap: 5px;
        }

        input[type=text] {
          border: none;
          border-radius: 10em;
          outline: none;
          padding: .5em 1em;
          width: 100%;
          box-sizing: border-box;
          font-size: 1.25rem;
        }

        input[type=submit] {
          padding: .5em 1em;

          align-self: end;
          border-radius: 10em;
          border: none;

          font-size: 1.25rem;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

          background-color: var(--main-color);
          color: var(--background-color);

          user-select: none;
          cursor: pointer;
        }

        &::backdrop {
          background-color: oklch(0 0 0 / 0.7);
          transition: opacity 200ms ease-in allow-discrete;
        }
      }

      @starting-style {

        .search-form,
        .search-form::backdrop {
          opacity: 0;
        }
      }

      .search-form:not([open]),
      .search-form:not([open])::backdrop {
        opacity: 0;
      }
    }

    &.centered {
      color: var(--text-color);

      display: flex;
      flex-direction: column;
      align-items: center;

      ul.main-menu {
        li {
          display: flex;
          align-items: stretch;
          justify-content: stretch;
        }

        a {
          padding: .5rem;
          width: 100%;
        }
      }

      img {
        width: auto;
      }
    }
  }
}

/*
 Resets 
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
  margin-inline: auto;
}

input:where([type="checkbox"][role="switch"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  color: inherit;
  font-size: inherit;
  width: 2em;
  height: 1em;
  box-sizing: content-box;
  border: 1px solid;
  border-radius: 1em;
  background-color: gray;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    box-sizing: border-box;
    width: 0.7em;
    height: 0.7em;
    margin: 0 0.15em;
    border: 1px solid;
    border-radius: 50%;
    background-color: var(--background-color);
  }

  &:checked::before {
    left: 1em;
  }

  &:checked {
    background-color: var(--main-color);
  }
}

a:hover,
a:active {
  text-decoration: none;
}

/* Styles that can optionally be included */
body:has(#linkFill:checked) {
  main {

    p a,
    li a {
      background-image: linear-gradient(var(--main-color), var(--main-color));
      background-position: center bottom;
      background-size: 100% 1px;
      background-repeat: no-repeat;

      text-decoration: none;
      color: var(--main-color) !important;
      font-weight: 700;

      transition: color var(--transition-timing, 250ms) ease,
        background-size var(--transition-timing, 250ms) ease;

      &:hover {
        background-size: 100% 100%;
        color: var(--background-color) !important;
      }
    }
  }
}

body:has(#menuFooterContrast:checked) {

  nav.menu,
  nav.menu ul,
  footer {
    background-color: oklch(from var(--background-color) calc(abs(calc(l - 0.175)) + 0.075) c h) !important;
  }
}

body:has(#menuUnderline:checked) {

  nav.menu {
    li a {
      .link-text {
        position: relative;
      }

      .link-text::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleY(0);
        height: 5px;
        bottom: -7px;
        left: 0;
        background-color: var(--main-color);
        transition: transform 300ms ease-out;
      }

      &:hover {
        color: var(--main-color);

        .link-text::after {
          transform: scaleY(1);
          transform-origin: bottom center;
        }
      }

      &:active {
        color: var(--main-color);

        .link-text::after {
          color: var(--main-color);
          transition: transform 0.3s;
          transform: scaleX(0.4);
        }
      }
    }
  }
}

body:has(#menuHover:checked) {

  nav.menu li {
    transition: background-color var(--transition-timing) ease,
      color var(--transition-timing) ease;

    span.menu-arrow {
      transition: background-color var(--transition-timing) ease;
    }

    &:hover {
      /* invert bg color to get something near text color... to use as bg color */
      background-color: oklch(from var(--background-color) calc(abs(calc(l - 0.825)) + 0.075) c h);

      /* use background color as text color */
      span.menu-arrow {
        background-color: var(--background-color);
        transition: background-color var(--transition-timing) ease;
      }

      &,
      >a {
        color: var(--background-color) !important;
      }
    }
  }
}

/* Positions */
@position-try --below-right {
  inset: unset;
  top: anchor(bottom);
  left: anchor(left)
}

@position-try --below-left {
  inset: unset;
  top: anchor(bottom);
  right: anchor(right)
}