:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(10, 10, 10, 0.87);
  background-color: #eee;

  user-select: none;

  --main-color: #002D72;
  --text-color: #000000;
  --background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 320px;
  height: 100dvh;
}

#root {
  /* display: grid;
  grid-template-columns: 2fr 3fr; */
  display: flex;

  #control-panel {
    flex: 1 1 350px;
    max-width: 450px;
  }

  #interface {
    flex: 1 1 800px;
  }

  height: 100%;
}

.color-input {
  .rgb-slider-label {
    font-size: 1.125rem;
    margin-block: 0rem;
  }

  input[type="range"] {
    appearance: none;
    appearance: none;
    cursor: pointer;

    width: 16rem;
  }
}

#control-panel {
  background-color: #ccc;
  padding: 1rem;
}

#control-panel,
#interface {
  max-height: 100vb;
  overflow: scroll auto;
}

#interface {
  background-color: var(--background-color);
  color: var(--text-color);

  p {
    text-wrap: pretty;
    color: var(--text-color);
  }

  nav.menu {
    padding-inline-start: 5px;

    a {
      text-decoration: none;
      color: var(--text-color);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      &.main-menu {
        display: flex;
        flex-direction: row;
        align-items: center;

        color: var(--text-color);

        li {
          padding: .25em .5em;
        }
      }
    }

    &.slim {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      height: 40px;

      a.home-logo {
        display: flex;
        align-items: center;
        gap: 5px;

        color: var(--text-color);

        text-decoration: none;
        font-size: 28px;
        font-family: 'Times New Roman', Times, serif;
      }

      ul.main-menu {
        flex-grow: 1;
        justify-content: end;
        align-items: stretch;

        span.menu-arrow {
          display: inline-block;
          width: 1em;
          height: 0.5625em;
          padding-inline: 2px;

          background-image: url('../public/menu-arrow.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        >li {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;

          &:hover {
            ul.sub-main-menu {
              display: inline-block;
              position: absolute;
              top: 100%;
            }
          }

        }
      }

      ul.sub-main-menu {
        display: none;
        top: 100%;
        right: 0;

        text-align: end;

        width: fit-content;
        min-width: max-content;
        background-color: var(--background-color);

        li {
          padding-block-end: 8px;
        }
      }
    }

    &.layered {
      background-color: red;
    }

    &.centered {
      color: var(--text-color);

      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: auto;
      }
    }
  }
}

.switch-holder {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.color-picker,
.radio-picker {
  &:not(:last-child) {
    border-block-end: 1px solid black;
    padding-block-end: .5rem;
    margin-block-end: .5rem;
  }
}

.radio-picker {
  .radio-buttons {
    display: flex;
    align-items: center;
  }
}

/*
 Resets 
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
  margin-inline: auto;
}

button {
  border: none;
  font-size: 1.25rem;
  user-select: none;
  margin-inline: auto;
  display: block;
}

input:where([type="checkbox"][role="switch"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  color: inherit;
  font-size: inherit;
  width: 2em;
  height: 1em;
  box-sizing: content-box;
  border: 1px solid;
  border-radius: 1em;
  background-color: gray;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    box-sizing: border-box;
    width: 0.7em;
    height: 0.7em;
    margin: 0 0.15em;
    border: 1px solid;
    border-radius: 50%;
    background-color: var(--background-color);
  }

  &:checked::before {
    left: 1em;
  }

  &:checked {
    background-color: var(--main-color);
  }
}

a:hover,
a:active {
  text-decoration: none;
}

/* Styles that can optionally be included */
body:has(#linkFill:checked) {
  main {
    a {
      --transition-timing: .3s;
      --link-offset: 4px;

      text-decoration: none;
      color: var(--main-color) !important;
      font-weight: 700;
      position: relative;
      z-index: 0;

      transition: color calc(var(--transition-timing) * 0.6) ease;
    }

    a:hover {
      color: var(--background-color) !important;
    }

    a::before {
      content: '';
      background-color: var(--main-color);
      position: absolute;
      inset: auto 0 calc(var(--link-offset) * -1) 0;
      height: var(--link-offset);
      z-index: -1;

      transition:
        height var(--transition-timing) ease-in-out,
        opacity var(--transition-timing) ease-in-out;
    }

    a:hover::before {
      height: calc(100% - .125rem + 2 * var(--link-offset));
    }
  }
}

body:has(#menuFooterContrast:checked) {

  nav.menu,
  nav.menu ul,
  footer {
    background-color: oklch(from var(--background-color) calc(abs(calc(l - 0.175)) + 0.075) c h);
  }
}

body:has(#menuUnderline:checked) {

  nav.menu {
    li a {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleY(0);
        height: 5px;
        bottom: -7px;
        left: 0;
        background-color: var(--main-color);
        transition: transform 0.3s ease-out;
      }

      &:hover {
        color: var(--main-color);

        &::after {
          transform: scaleY(1);
          transform-origin: bottom center;
        }
      }

      &:active {
        color: var(--main-color);

        &::after {
          color: var(--main-color);
          transition: transform 0.3s;
          transform: scaleX(0.4);
        }
      }
    }
  }
}

body:has(#menuHover:checked) {

  nav.menu {
    li:hover {
      background-color: oklch(from var(--background-color) calc(abs(calc(l - 0.825)) + 0.075) c h);

      &,
      a:hover {
        color: var(--background-color) !important;
      }
    }
  }
}